<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuda27.wowo.mapper.AccountinfoMapper" >
  <resultMap id="BaseResultMap" type="com.xuda27.wowo.pojo.Accountinfo" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="usid" property="usid" jdbcType="INTEGER" />
    <result column="adate" property="adate" jdbcType="TIMESTAMP" />
    <result column="edate" property="edate" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="temp" property="temp" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aid, usid, adate, edate, content, status, temp, flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xuda27.wowo.pojo.AccountinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from accountInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from accountInfo
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from accountInfo
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xuda27.wowo.pojo.AccountinfoExample" >
    delete from accountInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xuda27.wowo.pojo.Accountinfo" >
    insert into accountInfo (aid, usid, adate, 
      edate, content, status, 
      temp, flag)
    values (#{aid,jdbcType=INTEGER}, #{usid,jdbcType=INTEGER}, #{adate,jdbcType=TIMESTAMP}, 
      #{edate,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{temp,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xuda27.wowo.pojo.Accountinfo" >
    insert into accountInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="usid != null" >
        usid,
      </if>
      <if test="adate != null" >
        adate,
      </if>
      <if test="edate != null" >
        edate,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="temp != null" >
        temp,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="usid != null" >
        #{usid,jdbcType=INTEGER},
      </if>
      <if test="adate != null" >
        #{adate,jdbcType=TIMESTAMP},
      </if>
      <if test="edate != null" >
        #{edate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="temp != null" >
        #{temp,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xuda27.wowo.pojo.AccountinfoExample" resultType="java.lang.Integer" >
    select count(*) from accountInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update accountInfo
    <set >
      <if test="record.aid != null" >
        aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.usid != null" >
        usid = #{record.usid,jdbcType=INTEGER},
      </if>
      <if test="record.adate != null" >
        adate = #{record.adate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.edate != null" >
        edate = #{record.edate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.temp != null" >
        temp = #{record.temp,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update accountInfo
    set aid = #{record.aid,jdbcType=INTEGER},
      usid = #{record.usid,jdbcType=INTEGER},
      adate = #{record.adate,jdbcType=TIMESTAMP},
      edate = #{record.edate,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      temp = #{record.temp,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuda27.wowo.pojo.Accountinfo" >
    update accountInfo
    <set >
      <if test="usid != null" >
        usid = #{usid,jdbcType=INTEGER},
      </if>
      <if test="adate != null" >
        adate = #{adate,jdbcType=TIMESTAMP},
      </if>
      <if test="edate != null" >
        edate = #{edate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="temp != null" >
        temp = #{temp,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuda27.wowo.pojo.Accountinfo" >
    update accountInfo
    set usid = #{usid,jdbcType=INTEGER},
      adate = #{adate,jdbcType=TIMESTAMP},
      edate = #{edate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      temp = #{temp,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>